body {
  font-family: sans-serif;
}

a {
  font-style: italic;
  color: red;
}

img.animal {
  float: left;
  width: 270px;
  padding: 10px;
  margin: 12px;
}

.column {
  width: 300px;
  float: left;
  border: 2px solid purple;
  padding: 4px;
  margin: 12px;
}

.indoor p {
  color: red;
  background-color: yellow;
}

.outdoor p {
  color: green;
  background-color: gray;
}

.indoor p a {
  font-weight: bold;
  color: green;
}

.outdoor p a {
  font-weight: bold;
  color: purple;
}
